PAYMENTS_APP_URL=https://proyecto-a-payments-driveme.vercel.app
PAYMENTS_SERVICE_SECRET=
CONTROL_PLANE_PASSWORD=

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
CLERK_WEBHOOK_SECRET=whsec_...

# Rider App
RIDER_APP_URL=https://proyecto-a-rider-driveme.vercel.app
RIDER_SERVICE_SECRET=
